body[a="dark"] {
    filter: invert(1);
}

body[a="dark"] img {
    filter: invert(1);
}

body[a="dark"] img.ioda {
    filter: invert(0);
}

body[a="dark"] .emoji {
    filter: invert(1);
}

body[a="dark"] iframe {
    filter: invert(1);
}

@media (prefers-color-scheme: dark) {
    body[a="auto"] {
        filter: invert(1);
    }

    body[a="auto"] img {
        filter: invert(1);
    }

    body[a="auto"] img.ioda {
        filter: invert(0);
    }

    body[a="auto"] .emoji {
        filter: invert(1);
    }

    body[a="auto"] iframe {
        filter: invert(1);
    }
}

html, body {
    background: white;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    color: black;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.4;
    margin: 0;
    min-height: 100%;
    overflow-wrap: break-word;
}

.post-meta {
    text-align: right;
}

h2, h3, h4, h5, h6 {
    margin-top: 1.275em;
    margin-bottom: .85em;
    font-weight: 700;
}

hr {
    margin: 2rem 0;
}

li {
    margin: 0.4rem 0;
}

*:target {
    background: yellow;
}

.w {
    max-width: 640px;
    margin: 0 auto;
    padding: 4rem 2rem;
}

hr {
    text-align: center;
    border: 0;
}

hr:before {
    content: "/////";
}

hr:after {
    content: attr(data-content) "/////";
}

table {
    width: 100%;
}

table, th, td {
    border: thin solid black;
    border-collapse: collapse;
    padding: 0.4rem;
}

code {
    color: #24292e;
    background-color: #f6f8fa;
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    border-radius: 6px;
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    font-size: .85em;
    white-space: pre;
}

div.highlighter-rouge code {
    display: block;
    white-space: pre-wrap;
    line-height: 1.6;
    border: 1px solid #d1d5da;
    overflow: auto;
    word-wrap: normal;
    margin: 0;
    padding: .85em 1em;
    margin-bottom: 1.275em;
    background: #f7f7f7;
}

blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem;
}

blockquote p {
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.code-block-wrapper {
    position: relative;
    margin: 1rem 0;
}

.copy-button {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 3px;
    background-color: rgb(49, 62, 78);
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(204, 204, 204);
}

.copy-button:hover {
    opacity: 1;
}

.highlight table td {
    padding: 5px;
}

.highlight table pre {
    margin: 0;
}

body[a="dark"] .highlight {
    background-color: #1e1e1e;
    color: #dcdcdc;
}

.highlight .c, .highlight .ch, .highlight .cd, .highlight .cm, .highlight .cpf, .highlight .c1 {
    color: #888;
}

.highlight .cp {
    color: #579;
}

.highlight .cs {
    color: #cc0000;
    font-weight: bold;
}

.highlight .k, .highlight .kc, .highlight .kd, .highlight .kn, .highlight .kr, .highlight .kv {
    color: #080;
    font-weight: bold;
}

.highlight .kp {
    color: #038;
}

.highlight .kt {
    color: #339;
}

.highlight .o {
    color: #333;
}

.highlight .ow {
    color: #000;
    font-weight: bold;
}

.highlight .nb, .highlight .bp {
    color: #007020;
}

.highlight .nf, .highlight .fm {
    color: #06B;
    font-weight: bold;
}

.highlight .nc {
    color: #B06;
    font-weight: bold;
}

.highlight .nn {
    color: #0e84b5;
    font-weight: bold;
}

.highlight .ne {
    color: #F00;
    font-weight: bold;
}

.highlight .nv, .highlight .vm {
    color: #963;
}

.highlight .vi {
    color: #33B;
}

.highlight .vc {
    color: #369;
}

.highlight .vg {
    color: #d70;
    font-weight: bold;
}

.highlight .no {
    color: #036;
    font-weight: bold;
}

.highlight .nl {
    color: #970;
    font-weight: bold;
}

.highlight .ni {
    color: #800;
    font-weight: bold;
}

.highlight .na {
    color: #00C;
}

.highlight .nt {
    color: #070;
}

.highlight .nd {
    color: #555;
    font-weight: bold;
}

.highlight .s, .highlight .sb, .highlight .dl, .highlight .s2, .highlight .sh, .highlight .s1 {
    background-color: #fff0f0;
}

.highlight .sa {
    color: #080;
    font-weight: bold;
}

.highlight .sc {
    color: #04D;
}

.highlight .sd {
    color: #D42;
}

.highlight .si {
    background-color: #eee;
}

.highlight .se {
    color: #666;
    font-weight: bold;
}

.highlight .sr {
    color: #000;
    background-color: #fff0ff;
}

.highlight .ss {
    color: #A60;
}

.highlight .sx {
    color: #D20;
}

.highlight .m, .highlight .mb, .highlight .mx {
    color: #60E;
    font-weight: bold;
}

.highlight .mi, .highlight .il {
    color: #00D;
    font-weight: bold;
}

.highlight .mf {
    color: #60E;
    font-weight: bold;
}

.highlight .mh {
    color: #058;
    font-weight: bold;
}

.highlight .mo {
    color: #40E;
    font-weight: bold;
}

.highlight .gh {
    color: #000080;
    font-weight: bold;
}

.highlight .gu {
    color: #800080;
    font-weight: bold;
}

.highlight .gd {
    color: #A00000;
}

.highlight .gi {
    color: #00A000;
}

.highlight .gr {
    color: #FF0000;
}

.highlight .ge {
    font-style: italic;
}

.highlight .gs {
    font-weight: bold;
}

.highlight .gp {
    color: #c65d09;
    font-weight: bold;
}

.highlight .go {
    color: #888;
}

.highlight .gt {
    color: #04D;
}

.highlight .err {
    color: #F00;
    background-color: #FAA;
}

body {
    font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', sans-serif;
}

code, pre {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

/*# sourceMappingURL=main.css.map */